header{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #cc0000;
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding: 1em;
}

#header-img{
    width: 50px;
    height: 50%;
    border-radius: 50%;
}

#menu {
    margin: 10px;
    width: 100%;;
}

ul, ol {
    list-style: none;
}

#nav-bar li {
    margin: 10px;
    display: block;
    float: left;
    margin-left:2px;
    border:#000;
}

#nav-bar a{
      display:block;
      padding:10px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
      border-radius: 20%;
}

#nav-bar a:hover {
	background-color:#009;
	color:#fff;
}

iframe{
    width: 500px;
    height: 300px;
    margin-top: 20%;
}

#video{
    padding: 0px 10px 10px 10px;
}

@media screen and (max-width: 992px) {
  body {
    background-color: pink;
  }
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
}

#contact {
    background-color: grey;
    padding: 20px;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    border-radius: 5%;
}

