
body{
      padding: 0px 200px 0px 200px;
      background-color: bisque;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 50%;
}
#title{
      color: white;
      background-color: blueviolet;
      border-radius: 10px;
      padding: 10px;
      text-align: center; 
}
#description {
      color: brown;
      text-align: center;
      padding: 0px 20px 0px 20px;
}
#survey-form {
      border: 3px solid purple;
      padding: 10px;
      border-radius: 10px;
}
.input{
      border-radius: 5px;
      width: 70%;
      height:  30px;
      align-self: flex-start;
}
textarea {
      border-radius: 5px;
      width: 80%;
      height: 200px;
      margin: 0px 0px 5px 0px;
}
button {
      background-color: brown;
      color: white;
      border-radius: 10px;      
}
.bottom {
      padding-bottom: 5px;
}